*.filters
*.vcxproj
*.pdb
*.tlog
*.obj
*.lastbuildstate
*.log
*.idb
Win32_MSVC/Win32_MSVC.sln
Win32_MSVC/Win32_MSVC.VC.db
Win32_MSVC/Win32_MSVC.VC.VC.opendb
Win32_MSVC/Debug/Win32_MSVC.ilk
Win32_MSVC/Debug/Win32_MSVC.exe
Win32_MSVC/.vs/Win32_MSVC/v14/.suo
Win32_MSVC/Win32_MSVC/Everything.h
Win32_MSVC/Win32_MSVC/Environment.h
Win32_MSVC/Win32_MSVC/Exclude.h
Win32_MSVC/ipch/WIN32_MSVC-7978efbf/WIN32_MSVC-30e72e77.ipch
Win32_MSVC/Win32_MSVC/test.h
Win32_MSVC/Win32_MSVC/targetver.h
Win32_MSVC/Win32_MSVC/stdafx.h
Win32_MSVC/Win32_MSVC/stdafx.cpp
Win32_MSVC/Win32_MSVC/Debug/Win32_MSVC.pch
Win32_MSVC/Debug/123.txt
Win32_MSVC/Debug/test1.exe
Win32_MSVC/ipch/WIN32_MSVC-7978efbf/WIN32_MSVC-f99bdbf1.ipch
Win32_MSVC/Win32_MSVC/Release/Win32_MSVC.pch
Win32_MSVC/Release/Win32_MSVC.ipdb
Win32_MSVC/Release/Win32_MSVC.exe
Win32_MSVC/Release/Win32_MSVC.iobj
Win32_MSVC/ipch/WIN32_MSVC-7978efbf/WIN32_MSVC-f820b795.ipch
Win32_MSVC/Win32_MSVC/data.txt
Win32_MSVC/Win32_MSVC/Debug/data.txt
Win32_MSVC/Win32_MSVC/output.txt
Win32_MSVC/data.txt
Win32_MSVC/Win32_MSVC/index.txt
DLLTest/Debug/DLLTest.lib
DLLTest/Debug/DLLTest.ilk
DLLTest/Debug/DLLTest.exp
DLLTest/Debug/DLLTest.dll
DLLTest/DLLTest.sln
DLLTest/DLLTest.VC.db
DLLTest/.vs/DLLTest/v14/.suo
Win32_MSVC/Win32_MSVC/Debug/DllTest.dll
Win32_MSVC/Debug/Win32_MSVC.lib
Win32_MSVC/Debug/Win32_MSVC.exp
DLLTest/Release/DLLTest.iobj
DLLTest/Release/DLLTest.exp
DLLTest/DLLTest/Release/DLLTest.pch
DLLTest/DLLTest/ReadMe.txt
DLLTest/DLLTest/Debug/DLLTest.pch
Win32_MSVC/Debug/EXEasDLL.exe
Win32_MSVC/Debug/DllTest.dll
DLLTest/ipch/DLLTEST-2b761f52/DLLTEST-ed29ac28.ipch
DLLTest/DLLTest/targetver.h
DLLTest/DLLTest/stdafx.h
DLLTest/DLLTest/stdafx.cpp
Win32_MSVC/Win32_MSVC/myHead_Dll.cpp
Win32_MSVC/Win32_MSVC/EXEasDLL.exe
Win32_MSVC/Win32_MSVC/DllTest.dll
DLLTest/Release/DLLTest.lib
DLLTest/Release/DLLTest.ipdb
DLLTest/Release/DLLTest.dll
Win32_MSVC/Win32_MSVC/myHead_Dll.h
DLLTest/ipch/DLLTEST-2b761f52/DLLTEST-9d5ebbe2.ipch
Win32_MSVC/Win32_MSVC/printOut.exe
Win32_MSVC/Win32_MSVC/grep.exe
Win32_MSVC/Win32_MSVC/f2.txt
Win32_MSVC/Win32_MSVC/f1.txt
