*.filters
*.vcxproj
*.pdb
*.tlog
*.obj
*.lastbuildstate
*.log
*.idb
Win32_MSVC/Win32_MSVC.sln
Win32_MSVC/Win32_MSVC.VC.db
Win32_MSVC/Win32_MSVC.VC.VC.opendb
Win32_MSVC/Debug/Win32_MSVC.ilk
Win32_MSVC/Debug/Win32_MSVC.exe
Win32_MSVC/.vs/Win32_MSVC/v14/.suo
Win32_MSVC/Win32_MSVC/Everything.h
Win32_MSVC/Win32_MSVC/Environment.h
Win32_MSVC/Win32_MSVC/Exclude.h
Win32_MSVC/ipch/WIN32_MSVC-7978efbf/WIN32_MSVC-30e72e77.ipch
Win32_MSVC/Win32_MSVC/test.h
Win32_MSVC/Win32_MSVC/targetver.h
Win32_MSVC/Win32_MSVC/stdafx.h
Win32_MSVC/Win32_MSVC/stdafx.cpp
Win32_MSVC/Win32_MSVC/Debug/Win32_MSVC.pch
Win32_MSVC/Debug/123.txt
Win32_MSVC/Debug/test1.exe
Win32_MSVC/ipch/WIN32_MSVC-7978efbf/WIN32_MSVC-f99bdbf1.ipch
Win32_MSVC/Win32_MSVC/Release/Win32_MSVC.pch
Win32_MSVC/Release/Win32_MSVC.ipdb
Win32_MSVC/Release/Win32_MSVC.exe
Win32_MSVC/Release/Win32_MSVC.iobj
Win32_MSVC/ipch/WIN32_MSVC-7978efbf/WIN32_MSVC-f820b795.ipch
Win32_MSVC/Win32_MSVC/data.txt
Win32_MSVC/Win32_MSVC/Debug/data.txt
Win32_MSVC/Win32_MSVC/output.txt
